
<div class="mt-6">
  <% if @page.title == "Sign In" %>
  <p><%= @page.title %> or Sign Up here!</p>
  <!--
      - Add Sign in and or sign up form here
    -->
  <% end %>
  <% if @page.title == "About" %>
    <h1 class="title"><%= @page.title %> Unified Apparel</h1>
    <p class="description"><%= @page.description %></p>
    <br>
    <%= image_tag("Group_photo.jpg", size: 500)%>
    <!--
      - Add group photo here
    -->
  <% end %>
  <% if @page.title == "Contact Us"%>
    <p><%= @page.description %></p>
    <!--
      - Add an email contact form here
      - Add Social Media links here
    -->
  <% end %>
</div>
