<br>
<% @product.product_images.each do |i| %>
  <%= image_tag(i.image.variant(resize_to_limit: [500, 500])) if i.image.attached? %>
<% end %>
<h1>Showing <%= @product.name %></h1>
<%= link_to @product.category.name, @product.category %>
<br>
<p>Colors Available</p>
<ul>
<% @product.product_colors.each do |pc| %>
  <li><%= pc.color.name %></li>
<% end%>
</ul>
<br>
<p>Sizes Available</p>
<ul>
<% @product.product_sizes.each do |ps| %>
  <li><%= ps.size.code %></li>
<% end%>
</ul>