<!DOCTYPE html>
<html>
  <head>
    <title>UnifiedApparel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  </head>

  <body>
    <section class="section">
      <div class="container">
        <div class="columns">
          <!-- Nav bar -->
          <div class="column is-2">
            <figure class="image is-128x128">
              <%= image_tag "2018LOGO.png" %>
            </figure>
            <aside class="menu">
              <p class="menu-label">Products</p>
              <ul class="menu-list">
                <li><a>All Products</a></li>
                <li><a>View by Category</a></li>
              </ul>
              <p class="menu-label">General</p>
              <ul class="menu-list">
                <li><a>Sign Up</a></li>
                <li><a>About</a></li>
                <li><a>Contact Us</a></li>
              </ul>
            </aside>
          </div>
          <!-- The rest of the content-->
          <div class="column is-10">
            <%= yield %>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
