<!DOCTYPE html>
<html>
  <head>
    <title>Unified Apparel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body class="main">
    <section class="section">
      <div class="container">
        <div class="columns">
          <!-- Nav bar -->
          <div class="column is-2">
            <figure class="image is-128x128">
              <%= link_to image_tag("2018LOGO.png"), root_path, class: "link" %>
            </figure>
            <aside class="menu">
              <p class="menu-label">Products</p>
              <ul class="menu-list">
                <li><%= link_to "All Products", all_products_products_path, class: "link"  %></li>
                <li><%= link_to "Browse Categories", categories_path, class: "link"  %></li>
              </ul>
              <p class="menu-label">General</p>
              <ul class="menu-list pb-6">
                <%= render template: "pages/all_pages" %>
                <% if user_signed_in? %>
                  <li><%= link_to "My Account", users_path, class: "link" %></li>
                  <li><%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "link" %></li>
                <% else %>
                  <li><%= link_to "Sign in", user_session_path, class: "link" %></li>
                <% end %>
              </ul>
              <hr>
              <small class="aside-footer-title">Unified Apparel</small><br>
              <small class="aside-footer has-text-weight-light">Copywrong &#169; 2025</small>
            </aside>
          </div>
          <!-- The rest of the content-->
          <div class="column is-10">
            <div class="top-nav is-flex is-flex-direction-row is-align-items-center">
              <%= render "categories/search_form" %>
              <%= link_to cart_products_path, :class => 'cart-link' do %>
              <div class="shopping-cart">
                <i class="fa" style="font-size:24px">&#xf07a;</i>
                <span class='badge badge-warning' id='lblCartCount'><%= session[:cart_with_options].count %></span>
              </div>
              <% end %>
            </div>
            <br>
            <%= yield %>
            <hr>
          </div>
        </div>
      </div>
    </section>

  </body>
</html>
